---
- name: Check if swap is enabled
  command : free -m | grep Swap | awk '{print $3}'
  register: swap_used

- name: Disable system swap if swap is used
  command: "swapoff -a"
  when: (swap_used.stdout_lines[0] | int) > 0

- name: Remove current swaps from fstab
  lineinfile:
    dest: /etc/fstab
    regexp: '(?i)^([^#][\S]+\s+(none|swap)\s+swap.*)'
    line: '# \1'
    backrefs: yes
    state: present

- name: Disable swappiness and pass bridged IPv4 traffic to iptable's chains
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
  with_items:
    - { name: 'vm.swappiness', value: '0' }
    - { name: 'net.bridge.bridge-nf-call-iptables', value: '1' }

- name: Add an apt signing key for Kubernetes
  apt_key:
    url: "{{ kubernetes_apt_key }}"
    state: present

- name: Adding apt repository for Kubernetes
  apt_repository:
    repo: "{{ kubernetes_apt_repository }}"
    state: present
    filename: kubernetes.list

- name: Install Kubernetes binaries
  apt:
    name: "{{ kubernetes_packages }}"
    state: present
    update_cache: yes

- name: Hold kubeadm binaries
  dpkg_selections:
    name: "kubeadm"
    selection: hold

- name: Hold kubelet binaries
  dpkg_selections:
    name: "kubelet"
    selection: hold


- name: Hold kubectl binaries
  dpkg_selections:
    name: "kubectl"
    selection: hold
